[package]
name = "fints-institute-db"
version = "1.0.6-alpha.0"
authors = ["Sven-Hendrik Haase <svenstaro@gmail.com>"]
edition = "2018"
description = "A library and CLI tool to access FinTS access information for many German banks"
repository = "https://github.com/svenstaro/fints-institute-db"
license = "MIT"
readme = "README.md"
keywords = ["fints", "hbci", "bank", "banks", "banking"]
categories = ["command-line-utilities", "command-line-interface", "parsing"]

[profile.release]
lto = true
codegen-units = 1

[dependencies]
structopt = "0.3"
iban_validate = "4"
serde = "1"
serde_derive = "1"
serde_json = "1"

[dependencies.regex]
version = "1"
features = ["unicode-perl"]

[dev-dependencies]
pretty_assertions = "0.6"
assert_cmd = "1.0"

[build-dependencies]
reqwest = { version = "0.10", features = ["blocking", "rustls-tls"], default-features = false }
