[package]
name = "fints-institute-db"
version = "0.2.2"
authors = ["Sven-Hendrik Haase <svenstaro@gmail.com>"]
edition = "2018"
description = "A library and CLI tool to access FinTS access information for many German banks"
repository = "https://github.com/svenstaro/fints-institute-db"
license = "MIT"
readme = "README.md"
keywords = ["fints", "hbci", "bank", "banks", "banking"]
categories = ["command-line-utilities", "command-line-interface", "parsing"]

[badges]
travis-ci = { repository = "svenstaro/fints-institute-db", branch = "master" }
maintenance = { status = "actively-developed" }

[profile.release]
lto = true

[dependencies]
csv = "1"
clap = "2"
iban_validate = "1"
chrono = { version = "0.4", features = ["serde"] }
serde = "1"
serde_derive = "1"
serde_json = "1"

[build-dependencies]
reqwest = "0.9"
encoding_rs = "0.8"
